<div class="container">
  <h2>User List</h2>
  <button class="btn btn-sm btn-success" routerLink="/user-details">Add New</button>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let index = index;">
          <td>{{user.title}}</td>
          <td>{{user.body}}</td>
          <td>
            <div class="d-flex"><button (click)="delete(index)" class="m-1"> <i class="fa fa-trash"></i></button>
              <button class="m-1" (click)="edit(user)"><i class="fa fa-pencil"></i></button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
