<div class="container">
  <h2>User List</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let index = index;">
          <td>{{user.title}}</td>
          <td>{{user.body}}</td>
          <td>
            <button (click)="delete(index)">Delete</button>
            <button>Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
